{% include header.html %}

  <main role="main">
    <div class="container top bg-light mt-3">
      <div class="row">
          <div class="col-md-2">
              <img class="img-fluid rounded" src="/assets/images/{{ page.portrait }}">
          </div>
          <div class="col-md-10 pt-1">
            <h4>{{ page.title }}</h4>
            {% if page.callsign %}
              <b>Callsign: </b>{{page.callsign}}<br>
            {% endif %}
            {% if page.unit %}
              <b>Vehicle: </b>{{page.unit}}<br>
            {% endif %}
            {% if page.force %}
              <b>Unit: </b><a href="/forces/{{ page.force-slug }}">{{page.force}}</a><br>
            {% endif %}
            {% if page.age %}
              <b>Age: </b>{{page.age}}<br>
            {% endif %}
            {% if page.kills %}
              <b>Kills: </b>{{page.kills}}<br>
            {% endif %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          {{ content }}
        </div>
      </div>
     </div>
  </main>
  {% include footer.html %}
</body>
</html>
