{% include header.html %}

  <main role="main">
    <div class="container top bg-light mt-3">
      <div class="row">
        <div class="col">
          <h2>{{ page.title }}</h2>
          <hr>
          {{ content }}
        </div>
      </div>
      {% for force in site.forces %}
      {% if force.parent-slug == page.slug %}
      <div class="row">
        <div class="col">
          <div class="container bg-light rounded border border-secondary my-2">
            <h3><a href="{{ force.url | relative_url }}">{{ force.title }}</a></h3>
            {{ force.content | markdownify }}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
   </div>
  </main>
  {% include footer.html %}
</body>
</html>
