{% include header.html %}
  <main role="main">
    <div class="container top bg-light mt-3">
      <div class="row">
        <div class="col">
          <h2>{{ page.title }}</h2>
          {{ content }}
        </div>
      </div>
      {% assign sortedScenarios = site.scenarios | sort: 'date' %}
      {% for scenario in sortedScenarios %}
      {% if scenario.mission-slug == page.slug %}
      <div class="row">
        <div class="col">
          <div class="container scenario border border-secondary rounded my-2">
            <h3>{{ scenario.title }}</h3>
            {{ scenario.date | date_to_long_string }}
            {{ scenario.content | markdownify }}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </main>
{% include footer.html %}
</body>
</html>
