{% include header.html %}
  <main role="main">
    <div class="container top bg-light mt-3">
      <h2>{{ page.title }}</h2>  
        {% assign sortedPeople = site.personnel | sort: 'rank-number' | reverse %}
        {% for person in sortedPeople %}
          {% if page.status contains person.status and page.roles contains person.role or page.roles == nil %}
            <div class="row pb-3">
              <div class="col-md-2">
                {% if person.portrait %}
                  <img class="img-fluid rounded" src="/assets/images/portraits/{{ person.portrait }}">
                {% else %}
                  <img class="img-fluid rounded" src="/assets/images/portraits/default.gif" style="width:200px">
                {% endif %}
              </div>
              <div class="col-md-10 pt-1">
                <h4><a href="{{ person.url }}">{{ person.title }}</a></h4>
                {% if person.skill-level %}{{ person.skill-level }} {% endif %}{% if person.phenotype %} {{ person.phenotype }} {% endif%}{{ person.role-name }}{% if person.skill-detail %} ({{ person.skill-detail }}){% endif %}<br>
                {% if person.callsign %}
                  <strong>Callsign: </strong>{{person.callsign}}<br>
                {% endif %}
                {% if person.unit %}
                  {% assign custom=nil %}
                  {% include find-custom.html custom-slug=person.unit-slug %}
                  {% if custom %}
                    <strong>Vehicle: </strong><a href="/tro/{{ custom }}">{{person.unit}}</a><br>
                  {% else %}
                    <strong>Vehicle: </strong>{{person.unit}}<br>
                  {% endif %}
                {% endif %}
                {% if person.force %}
                  <strong>Unit: </strong><a href="/forces/{{ person.force-slug }}">{{person.force}}</a><br>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </main>
{% include footer.html %}
</body>
</html>
