{% include header.html %}

  <main role="main">
    <div class="container top bg-light mt-3">
      <div class="row">
        <div class="col">
          <h4>{{ page.title }}</h4>
          {{ page.date | date_to_long_string }}
          <hr>
          {{ content }}
          {%if page.personnel %}
            <h5>Related Personnel</h5>
            <ul>
            {% for pslug in page.personnel %}
              {% for person in site.personnel %}
                {% if person.slug == pslug %}
                  <li> <a href="{{ person.url }}">{{ person.name }}</a>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </ul>
          {% endif %}
          {%if page.mission %}
            <h5>Related Mission</h5>
            <ul>
            {% for mslug in page.mission %}
              {% for mission in site.missions %}
                {% if mission.slug == mslug %}
                  <li> <a href="{{ mission.url }}">{{ mission.title }}</a>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
