{% include header.html %}
  <main role="main">
    <div class="container top bg-light mt-3">
      {{content}}
      {% for post in site.posts %}
      <div class="row">
        <div class="col">
          <div class="container my-2">
            <h3><a class="title" href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.date | date: "%B %-d, %Y"}}</p>
            {{ post.content | split: '<!-- more -->' | first }}
            <p></p>
            <a class="btn btn-secondary" href="{{ post.url }}" role="button">Read More</a>
            <hr>
          </div>
        </div>
      </div>
      {% endfor %}
  </main>
{% include footer.html %}
</body>
</html>
